<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Mod</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">
    <script src="https://kit.fontawesome.com/6b6d803fb1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Reddit Mod</div>
            <div class="nav-bar">
                <ul class="nav-btn">
                    <li><a href="#">Display</a></li>
                    <li><a href="#">User</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="container">
            <div class="cont left">
                <div class="search"></div>
                <div class="scrollpane">
                    <div class="subr">
                        <div class="label">My Subreddit</div>
                        <div class="feature">
                            <a class="clickable" href="">
                                <ul>
                                    <li><i class="fa-brands fa-reddit-alien"></i></li>
                                    <li>subreddit</li>
                                </ul>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature">
                            <a class="clickable" href="">
                                <ul>
                                    <li><i class="fa-brands fa-reddit-alien"></i></li>
                                    <li>subreddit</li>
                                </ul>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature">
                            <a class="clickable" href="">
                                <ul>
                                    <li><i class="fa-brands fa-reddit-alien"></i></li>
                                    <li>subreddit</li>
                                </ul>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature">
                            <a class="clickable" href="">
                                <ul>
                                    <li><i class="fa-brands fa-reddit-alien"></i></li>
                                    <li>subreddit</li>
                                </ul>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mood">
                        <div class="moods my">
                            <div class="label">My moods</div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="moods trending">
                            <div class="label">Trending <i class="fa-solid fa-fire-flame-curved"></i></div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature">
                                <a class="clickable" href="">
                                    <ul>
                                        <li><i class="fa-brands fa-reddit-alien"></i></li>
                                        <li>subreddit</li>
                                    </ul>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont center"></div>
            <div class="cont right"></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>