<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Mod</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">
    <script src="https://kit.fontawesome.com/6b6d803fb1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="flex">
            <div class="logo">Reddit Mod</div>
            <div class="nav-bar">
                <ul class="nav-btn flex">
                    <li><a href="#">Display</a></li>
                    <li><a href="{{loginURL}}">User</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="container index">
            <div class="cont left">
                <div class="search">
                    <div class="flex search-container">
                        <input type="text" placeholder="search subreddit..." name="" id="">
                        <i class="fa-solid fa-magnifying-glass grey"></i>
                    </div>
                </div>
                <div class="scrollpane">
                    <div class="subr">
                        <div class="label">My Subreddit</div>
                        <div class="feature flex">
                            <a class="clickable flex" href="">
                                <i class="fa-brands fa-reddit-alien"></i>
                                <p>subreddit</p>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature flex">
                            <a class="clickable flex" href="">
                                <i class="fa-brands fa-reddit-alien"></i>
                                <p>subreddit</p>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature flex">
                            <a class="clickable flex" href="">
                                <i class="fa-brands fa-reddit-alien"></i>
                                <p>subreddit</p>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature flex">
                            <a class="clickable flex" href="">
                                <i class="fa-brands fa-reddit-alien"></i>
                                <p>subreddit</p>
                            </a>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-flag"></i></li>
                                    <li><p>10k</p></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mood">
                        <div class="moods my">
                            <div class="label">My moods</div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="moods trending">
                            <div class="label">Trending <i class="fa-solid fa-fire-flame-curved"></i></div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="feature flex">
                                <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                                </a>
                                <div class="info">
                                    <ul>
                                        <li><i class="fa-solid fa-flag"></i></li>
                                        <li><p>10k</p></li>
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont center">
                <div class="search">
                    <div class="flex search-container">
                        <input type="text" placeholder="search reddit..." name="" id="">
                        <i class="fa-solid fa-magnifying-glass grey"></i>
                    </div>
                </div>
                <div class="scrollpane">
                    <div class="post-container">
                        <div class="post-header">
                            <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                            </a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <a href=""><p class="grey">u/user1</p></a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <p class="grey">1 hour ago</p>
                        </div>
                        <div class="post-title bold">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-body grey">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-footer flex">
                            <div class="vote flex">
                                <i class="fa-solid fa-arrow-up"></i>
                                <p>10</p>
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                            <div class="comment flex">
                                <p class="grey bold">9 comments</p>
                                <i class="fa-solid fa-ellipsis-vertical grey"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-container">
                        <div class="post-header">
                            <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                            </a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <a href=""><p class="grey">u/user1</p></a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <p class="grey">1 hour ago</p>
                        </div>
                        <div class="post-title bold">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-body grey">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-footer flex">
                            <div class="vote flex">
                                <i class="fa-solid fa-arrow-up"></i>
                                <p>10</p>
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                            <div class="comment flex">
                                <p class="grey bold">9 comments</p>
                                <i class="fa-solid fa-ellipsis-vertical grey"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-container">
                        <div class="post-header">
                            <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                            </a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <a href=""><p class="grey">u/user1</p></a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <p class="grey">1 hour ago</p>
                        </div>
                        <div class="post-title bold">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-body grey">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-footer flex">
                            <div class="vote flex">
                                <i class="fa-solid fa-arrow-up"></i>
                                <p>10</p>
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                            <div class="comment flex">
                                <p class="grey bold">9 comments</p>
                                <i class="fa-solid fa-ellipsis-vertical grey"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-container">
                        <div class="post-header">
                            <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                            </a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <a href=""><p class="grey">u/user1</p></a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <p class="grey">1 hour ago</p>
                        </div>
                        <div class="post-title bold">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-body grey">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-footer flex">
                            <div class="vote flex">
                                <i class="fa-solid fa-arrow-up"></i>
                                <p>10</p>
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                            <div class="comment flex">
                                <p class="grey bold">9 comments</p>
                                <i class="fa-solid fa-ellipsis-vertical grey"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-container">
                        <div class="post-header">
                            <a class="clickable flex" href="">
                                    <i class="fa-brands fa-reddit-alien"></i>
                                    <p>subreddit</p>
                            </a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <a href=""><p class="grey">u/user1</p></a>
                            <i class="fa-solid fa-circle bullet grey"></i>
                            <p class="grey">1 hour ago</p>
                        </div>
                        <div class="post-title bold">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-body grey">My kids decorated the gingerbread house on their own this year. “Grandma got eaten by the dog” They say they will “up the crime scene every year”</div>
                        <div class="post-footer flex">
                            <div class="vote flex">
                                <i class="fa-solid fa-arrow-up"></i>
                                <p>10</p>
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                            <div class="comment flex">
                                <p class="grey bold">9 comments</p>
                                <i class="fa-solid fa-ellipsis-vertical grey"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont right">
                <div class="user-info">
                    <div class="avatar">
                        <i class="fa-solid fa-user"></i>
                        <p class="bold">u/user1</p>
                        <div class="online-status flex">
                            <i class="fa-solid fa-circle active"></i>
                            <p class="grey">Online-status: On</p>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="karma flex">
                            <i class="fa-regular fa-snowflake"></i>
                            <div>
                                <p class="bold">206</p>
                                <p class="grey">Karma</p>
                            </div>
                        </div>
                        <div class="reddit-age flex">
                            <i class="fa-solid fa-calendar-days"></i>
                            <div>
                                <p class="bold">2y 6m</p>
                                <p class="grey">Reddit age</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shoutbox">
                    <div class="shoutbox-label">Shoutbox</div>
                    <div class="shout">
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                        <div class="message">
                            <div class="msg-info flex">
                                <p class="grey">12:30 pm</p>
                                <i class="fa-solid fa-circle active"></i>
                            </div>
                            <p><span class="red">username</span>:</p>
                            <p class="msg-body">This is a sample message. This is how it wraps.</p>
                        </div>
                    </div>
                    <div class="message-box flex">
                        <input type="textarea" placeholder="Type message here...">
                        <i class="fa-solid fa-paper-plane red"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>