/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    height: 100vh;
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    font-size: 14px;
}

p{
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px 10px;
    border: 1px solid rgba(217, 217, 217, 0.3);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

.bold{
    font-weight: bold;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    color: seashell;
    height: 70px;
    background-color: #000B17;
}

.logo{
    font-size: large;
    font-weight: bold;
    margin-left: 5rem;
}

.nav-bar{
    margin-right: 5rem;
}

.nav-bar ul>li{
    margin-left: 20px;
}

.main{
    background-color: #1B1B1B;
    position: absolute;
    top: 70px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
}

.container{
    height: 100%;
}

.index{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 4fr 6fr 4fr;
    column-gap: 10px;
}

.left{
    background-color: #000B17;
    border-radius: 0 10px 0 0;
}

.center{
    background-color: #000B17;
    border-radius: 10px 10px 0 0;
    max-width: 650px;
}

.right{
    display: grid;
    grid-template-rows: 4fr 6fr;
    row-gap: 10px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000B17;
    border-radius: inherit;
}

.search-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.1);
    height: 30px;
    border-radius: 20px 20px;
}

.search-container>*{
    margin: 0 5px;
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
}

.label{
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.feature{
    padding:0 25px;
    height: 45px;
    font-size: 14px;
    background-color: rgba(0, 163, 255, 0.1);
}

.clickable{
    color: white;
}

.clickable>i{
    font-size: 2rem;
    color: red;
    padding-right: 5px;
}

.label i{
    color: red;
    padding-left: 7px;
}

a{
    text-decoration: none;
}

a ul li{
    color: white;
    margin-right: 5px;
}

.info ul{
    display: flex;
    flex-direction: row;
}

.info>ul>li{
    padding: 0 5px;
    color: white;
}

.scrollpane{
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.post-container{
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0px 0px 10px 10px;
    border-radius: 10px;
    padding: 15px;
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post-header>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post-header>ul>li{
    padding: 0px 5px;
    list-style: disc;
    list-style-position: inside;
    color: white;
    text-indent: 0px;
}

.bullet{
    font-size: 5px;
    padding: 0 7px;
}

.grey{
    color: rgba(217, 217, 217, 0.6);
}

.post-title{
    color: white;
    font-size: 1.2rem;
    margin: 15px 0;
}

.post-body{
    margin: 15px 0;
    font-size: 14px;
}

.post-scroll{
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.post-footer{
    color: white;
}

.post-footer p{
    padding: 7px;
}

.user-info{
    background-color: #000B17;
    border-radius: 10px 0 0 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    justify-content: center;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    color: red;
    border-left: solid 1px aliceblue;
    font-size: 12px;
}

.avatar{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar>p{
    font-size: 12px;
    color: white;
    margin: 7px 0;
}

.avatar>i{
    font-size: 80px;
    color: red;
}


.stat i{
    font-size: 24px;
    color: red;
    padding-right: 7px;
}

.karma{
    padding: 10px 0;
    width: 90px;
    border-bottom: solid 1px aliceblue;
    justify-content: flex-start;
}

.reddit-age{
    padding: 10px 0;
    width: 90px;
    border-top: solid 1px aliceblue;
}

.online-status{
    padding: 2px 5px;
    border-radius: 15px;
    border: 1px solid rgba(217, 217, 217, 0.6);
}

.online-status>i{
    
    padding-right: 5px;
}

.active{
    color: chartreuse;
    font-size: 8px;
}

.red{
    color: red;
}

.shoutbox{
    background-color: #000B17;
    border-radius: 10px 0 0 0;
    color: white;
}

.shout{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    height: 256px;
    overflow-y: scroll;
}

.message{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 14px;
}

.message>*{
    padding-right: 5px;
}

.msg-info>p{
    margin-right: 5px;
}

.msg-body{
    flex: 1 1 0;
}

.message-box{
    background-color: rgba(217, 217, 217, 0.3);
    height: 35px;
    padding: 0 10px;
    border-radius: 20px 20px;
    margin: 10px;
}

.message-box>input{
    border: none;
    outline: none;
    color: aliceblue;
    background-color: transparent;
    width: calc(100% - 25px);
}

.message-box>i{
    font-size: 20px;
}

.shoutbox-label{
    background-color: rgba(255, 255, 255, 0.1);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}



.mySlides {display: none}
.gal_img {
    vertical-align: middle;
    position: relative;
    margin: 0;
    top: 50%;
    left:50%;
    transform: translate(-50%, 0%);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_img, .dot:hover {
  background-color: #bbb;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}