/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    height: 100vh;
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    color: seashell;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000B17;
}

.logo{
    font-size: large;
    font-weight: bold;
    margin-left: 5rem;
}

.nav-bar{
    margin-right: 5rem;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
}

.nav-bar ul>li{
    margin-left: 20px;
}

.main{
    position: absolute;
    top: 70px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;
}

.container{
    background-color: #1B1B1B;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    column-gap: 10px;
}

.cont{
    margin-top: 10px;
}

.left{
    background-color: #000B17;
    border-radius: 0 10px 0 0;
}

.center{
    background-color: yellow;
    border-radius: 10px 10px 0 0;
}

.right{
    background-color: green;
    border-radius: 10px 0px 0 0;
}

.search{
    height: 50px;
    background-color: #000B17;
    border-radius: inherit;
}

.label{
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.feature{
    padding:0 25px;
    height: 45px;
    background-color: rgba(0, 163, 255, 0.1);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clickable{
    display: inline-block;
}

a>ul>li>i{
    font-size: 2rem;
    color: red;
}

.label i{
    color: red;
    padding-left: 7px;
}

a{
    text-decoration: none;
}

a ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

a ul li{
    color: white;
    margin-right: 5px;
}

.info ul{
    display: flex;
    flex-direction: row;
}
.info>ul>li{
    padding: 0 5px;
    color: white;
}

.scrollpane{
    height: calc(100vh - 150px);

    overflow-y: auto;
}